<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User List</title>
</head>
<body ng-app="userList">
    <h1>User List</h1>
    <div ng-controller="UserTableCtrl"> 
        <table>
            <tr ng-repeat="user in userList">
                <td>{{user.userId}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
            </tr>
        </table>
    </div>
    {{userList | json}}
    @Scripts.Render("~/bundles/javascript")
    @Styles.Render("~/Content/css")

</body>
</html>
