<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User List</title>
</head>
<body ng-app="userList">
    <h1>User List</h1>
    <div ng-controller="UserTableCtrl"> 
        <table>
            <tr ng-repeat="user in userList">
                <td>{{user.userId}}</td>
                <td ng-if="user.userId != userToEditId"> {{ user.name }} </td>
                <td ng-if="user.userId == userToEditId"> <input ng-model="userToUpdate.name" placeholder={{user.name}} /> </td>
                <td ng-if="user.userId != userToEditId"> {{ user.surname }} </td>
                <td ng-if="user.userId == userToEditId"> <input ng-model="userToUpdate.surname" placeholder={{user.surname}} /> </td>
                <td ng-if="user.userId != userToEditId"> {{ user.address }} </td>
                <td ng-if="user.userId == userToEditId"> <input ng-model="userToUpdate.address" placeholder={{user.address}} /> </td>
                <td>
                    <table>
                        <tr ng-if="user.userId != userToEditId" ng-repeat="email in user.emails"> <td> {{email.emailAddress}} </td> </tr>
                        <tr ng-if="user.userId == userToEditId" ng-repeat="email in userToUpdate.emails" track by $index>
                            <td> <input ng-model="email.emailAddress" placeholder="{{email.emailAddress}}" ng-change="addRow(userToUpdate.emails, $index)" /> </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-if="user.userId != userToEditId" ng-repeat="tag in user.tags"> <td> {{tag.name}} </td> </tr>
                        <tr ng-if="user.userId == userToEditId" ng-repeat="tag in userToUpdate.tags" track by $index>
                            <td> <input ng-model="tag.name" placeholder="{{tag.name}}" ng-change="addRow(userToUpdate.tags, $index)" /> </td>
                        </tr>
                    </table>
                </td>
                <td> <button ng-click="editUser(user.userId)"> Edit </button> </td>
                <td> <button ng-click="cancelEditing()"> Cancel </button> </td>
                <td> <button ng-click="updateUser()"> Save </button></td>
            </tr>
        </table>
        <br />
        {{userList | json}}
        <br /><br />
        {{userToUpdate | json}}
    </div>

    @Scripts.Render("~/bundles/javascript")
    @Styles.Render("~/Content/css")
</body>
</html>
